@font-face {
  font-family: 'THICCCBOI';
  font-weight: 200;
  src: url('/turog_webassets/static/src/fonts/THICCCBOI/THICCCBOI-Thin.ttf') format('truetype')
}

@font-face {
  font-family: 'THICCCBOI';
  font-weight: 300;
  src: url('/turog_webassets/static/src/fonts/THICCCBOI/THICCCBOI-Light.ttf') format('truetype')
}

@font-face {
  font-family: 'THICCCBOI';
  font-weight: 400;
  src: url('/turog_webassets/static/src/fonts/THICCCBOI/THICCCBOI-Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'THICCCBOI';
  font-weight: 500;
  src: url('/turog_webassets/static/src/fonts/THICCCBOI/THICCCBOI-SemiBold.ttf') format('truetype')
}

@font-face {
  font-family: 'THICCCBOI';
  font-weight: 600;
  src: url('/turog_webassets/static/src/fonts/THICCCBOI/THICCCBOI-Bold.ttf') format('truetype')
}

@font-face {
  font-family: 'THICCCBOI';
  font-weight: 700;
  src: url('/turog_webassets/static/src/fonts/THICCCBOI/THICCCBOI-ExtraBold.ttf') format('truetype')
}

@font-face {
  font-family: 'THICCCBOI';
  font-weight: 800;
  src: url('/turog_webassets/static/src/fonts/THICCCBOI/THICCCBOI-Black.ttf') format('truetype')
}

@font-face {
  font-family: 'Pavelt';
  src: url('/turog_webassets/static/src/fonts/Pavelt/Pavelt.ttf') format('truetype')
}

$o-theme-font-configs: map-merge($o-theme-font-configs, (
   'THICCCBOI': (
       'family': ('THICCCBOI'),
   ),
   'Pavelt': (
       'family': ('Pavelt'),
   ),
));
